body{background-image: url("cats.jpg");
background-size:cover;}

h1{text-align: center;
border-style:solid;
background-color: blue;
border-color: white;
border-width: 1px;
border-radius: 40px;
}

p{
    text-align: center;
    border-style: dashed;
    background-color: rgb(224, 177, 58);
    border-color: white;
    border-width:1px;
    width:250px;
    margin-top:10px;
    margin-bottom:100px;
    margin-left:200px;
}

ul{ 
    text-align: center;
    border-style:groove;
    background-color: rgb(241, 238, 208);
    width:320px;
    margin-left:550px;
}