body{
    background-color: rgb(177, 177, 222);
}

.border {
  font-family: Arial;
  color: aqua;
  border: 2px dashed rgb(19, 19, 104);
  margin:100px;
  padding:10px;
}

ul.d{list-style-type: square;}